<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>按需服务</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="bower_components/bootstrap-table/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css">
    <link rel="stylesheet" href="bower_components/ztree/css/zTreeStyle/zTreeStyle.css">
    <link rel="stylesheet" href="bower_components/ol4/ol.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/ztree/js/jquery.ztree.all-3.5.min.js"></script>
    <script src="bower_components/ol4/ol.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="bower_components/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="bower_components/layer/build/layer.js"></script>
    <script src="build/bundle.js"></script>
</head>
<body ng-app="export-map">
<ui-view id="app"></ui-view>
<mask></mask>
</body>
</html>